@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo @Model.cliente, a Pizzaria do Pitoquinho</h1>
    <p>Pitoquinho inc. ltda</p>
    <span>Seu e-mail é @Model.email</span>

</div>
